@jazz-man:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}
registry=https://registry.npmjs.org/
auto-install-peers=true
shamefully-hoist=true
public-hoist-pattern[]=*@ulixee/*
